html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  flex-shrink: 0;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
